@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Arima:wght@100..700&family=Cambo&family=Jua&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', serif;
}

.home-container {
  background-image: url('./assets/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

}

/* Hide scrollbar */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Snap behavior */
@supports (scroll-snap-type: x mandatory) {
  .scroll-container {
      scroll-snap-type: x mandatory;
  }
  .snap-center {
      scroll-snap-align: center;
  }
}